:root,
:host {
  --spacer: 1rem;

  --shoulder: calc(65 / 16 * 1rem);
  /* --scroll-padding: calc((100 / 16 * 1rem) + var(--shoulder)); */
  --scroll-padding: 0;

  --color-primary-50: color-mix(in srgb, var(--color-primary) 25%, transparent);

  --scrollbar-thumb: var(--color-primary-50);
  --scrollbar-track: var(--color-body);

  @variant lg {
    --spacer: 2rem;

    --shoulder: calc(86 / 16 * 1rem);
  }
}
