:root,
:host {
  --spacer: 1rem;

  --color-primary-50: color-mix(in srgb, var(--color-primary) 25%, transparent);

  --scrollbar-thumb: var(--color-primary-50);
  --scrollbar-track: var(--color-body);

  @variant lg {
    --spacer: 2rem;
  }
}
