@counter-style custom {
  system: cyclic;
  symbols: "–";
  suffix: " ";
}

body {
  @apply antialiased;
}

.richtext {
  :where(h1 + p) {
    @apply mt-[1em];
  }
  :where(:is(h2, h3) + p) {
    @apply mt-[1.5em];
  }
  :where(p + p) {
    @apply mt-[1.25em];
  }
}

.hero-text {
  :where(:is(h1) + p) {
    @apply mt-[1.5em];
  }
  p {
    @apply font-medium clamp-[text,xl,2xl];
  }
}

.text-small,
.title-text p {
  @apply font-light clamp-[text,sm,base] tracking-wide;
}

.caro-text {
  @apply text-sm uppercase tracking-wide;
}

.text-xsmall {
  @apply text-xs uppercase font-medium tracking-wide;
}

h1,
.h1 {
  @apply clamp-[text,4xl,6xl] leading-none uppercase font-semibold text-balance;
}

h2,
.h2 {
  @apply clamp-[text,1.25rem,1.625rem] leading-tight uppercase font-semibold text-balance;
}

h3,
.h3 {
  @apply font-medium uppercase tracking-wide clamp-[text,2xl,3xl];
}

h4,
.h4 {
  @apply font-medium uppercase text-white/40 tracking-wide clamp-[text,lg,xl];
}

.tw-prose {
  --tw-prose-body: var(--color-primary);
  --tw-prose-headings: var(--color-primary);
  --tw-prose-bullets: var(--color-primary-50);
  --tw-prose-lead: var(--color-primary-50);
  --tw-prose-quotes: var(--color-primary-50);
  --tw-prose-links: var(--color-accent);
  --tw-prose-bold: var(--color-primary-50);
  --tw-prose-captions: var(--color-primary-50);
  --tw-prose-code: var(--color-primary);
  a {
    @apply custom-underline no-underline;
    &:where(.maps-links, .links-underlined-i) {
      @apply custom-underline-i;
    }
  }
  p {
    @apply hyphens-auto text-pretty;
  }
  details {
    summary {
      @apply flex gap-4 cursor-pointer;
      &::-webkit-details-marker {
        @apply hidden!;
      }
      &::before {
        @apply content-['▼'];
        @apply transition-transform duration-750 ease-spring-4 transform-gpu;
      }
    }
    .details-content {
      @apply clamp-[ml,6,8];
    }
    &[open] {
      summary {
        &::before {
          @apply rotate-180;
        }
      }
    }
  }
}

/**
 * custom classes
 */

body,
.text-default {
  @apply clamp-[text,base,xl];
}
