.gradient-card {
  position: absolute;
  overflow: hidden;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.gradient-card::before {
  --resolved-opacity: calc(var(--opacity, 0.5) * var(--alpha, 1));
  --resolved-color: var(--color, --color-accent);
  --resolved-size: var(--size, 50vw);
  /* --resolved-color: oklch(from var(--color-accent) l c calc(h + 45)); */
  /* --resolved-color-transparent: color-mix(
    in srgb,
    var(--resolved-color) 100%,
    transparent 100%
  ); */
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    var(--resolved-size) circle at var(--mouse-x) var(--mouse-y),
    var(--resolved-color) 0%,
    transparent 40%
  );
  opacity: var(--resolved-opacity);
  transition: opacity 0.6s;
}
